---
import BaseLayout from "../layouts/BaseLayout.astro";
import Timeline from "../components/Timeline.astro";
---

<BaseLayout title="A stardust timeline!" description="A timeline relating to stardust and its history from the Big Bang.">
    <h1 class="text-4xl font-bold text-center my-8">History Timeline</h1>
    <Timeline />
</BaseLayout>