---
import BaseLayout from "../layouts/BaseLayout.astro";
import Timeline from "../components/Timeline.astro";
---

<BaseLayout title="A stardust timeline!" description="A timeline relating to stardust and its history from the Big Bang." hfit="h-fit">
    <h1 class="text-4xl font-bold text-center my-8">History Timeline</h1>
    <Timeline />
    <p class="text-2xl text-center">Our solar system formed from a dense cloud of interstellar gas and dust. The cloud collapsed, possibly due to the shockwave of a nearby exploding star, called a supernova. When this dust cloud collapsed, it formed a solar nebula - a spinning, swirling disk of material.</p>
    <p class="text-2xl text-center">At the center, gravity pulled more and more material in. Eventually, the pressure in the core was so great that hydrogen atoms began to combine and form helium, releasing a tremendous amount of energy.</p>
    <p class="text-2xl text-center">And with that, our Sun was born.</p>
    <br>
	<p class="text-1xl font-italic text-center">Keep in mind this timeline is currently not complete and missing a TON of info, hence its, uh, stubness.</p>
    <br>
    <br>
</BaseLayout>