---
import BaseLayout from "../layouts/BaseLayout.astro"
import TextBlock from "../components/TextBlock.astro"
---
<BaseLayout title="Homepage" description="Learn about our relations to stardust!">
	<main class="text-center">
		<TextBlock>
			We are all made of stardust. The elements that make up our bodies were forged in the hearts of stars billions of years ago.
		<TextBlock />
		<TextBlock>
		  From the iron in our blood to the calcium in our bones, every atom in our bodies has a cosmic origin.
		<TextBlock />
		<TextBlock>
		  Understanding our connection to the universe helps us appreciate the beauty and complexity of life.
		<TextBlock />
	</main>
</BaseLayout>