<footer class="w-full text-center text-white relative overflow-hidden bg-black bg-center">
	<p>Background nebula image &copy; Aldebaran S. <a href="https://wallpaperscraft.com/download/nebula_stars_space_199080/3840x2400">Click here for source</a>.</p>
</footer>